<h2>Links:</h2>

<div class="admin-links">

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

  <div class="admin-links-item">
    <p>https://code-zen.co.za/blog/demos/</p>
    <p>http://localhost:4200/99xxqn</p>
    <a href="#">[Del]</a>
  </div>

</div>
